.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
LCF/
OECD.SDD.NAD,DSD_NAMAIN10@DF_TABLE5_T501,1.0+A.CHE+ITA+ESP+NOR+USA+GBR+DEU+FRA+CAN+AUS.S14.....CP022+CP011+CP125+CP042+CP082+CP08+CP083+CP07+CP06+CP021+CP04+CP044+CP045.XDC.V...csv
